<p><b>Name:</b> <%= @user.full_name %></p>

<p><b>Title:</b> <%= @user.title %></p>

<% unless @user.manager == nil %>
  <p><b>Manager:</b> <%= link_to @user.manager.full_name, user_url(@user.manager.id) %></p>
<% end %>

<% if @user.employees.blank? %>
  <p><b>Direct Reports:</b> None </p>
<% else %>
  <b>Direct Reports:</b>
  <ul>
    <% @user.employees.each do |employee| %>
      <li><%= link_to employee.full_name, user_url(employee.id) %></li>
    <% end %>
  </ul>
<% end %>

<br>
<%= link_to "Edit this user", edit_user_url(@user.id) %>
<br>
<%= link_to "Delete this user", user_url(@user.id), method: :delete, data: {confirm: "Are you sure?"} %>
<br>
<%= link_to "Back to all users", root_url %>
