<div class="container">

  <h1><%= @user.full_name %></h1>

  <p><b>Title:</b> <%= @user.title %></p>

  <% unless @user.manager == nil %>
    <p><b>Manager:</b> <%= link_to @user.manager.full_name, user_url(@user.manager.id) %></p>
  <% end %>

  <% if @user.employees.blank? %>
    <p><b>Direct Reports:</b> None </p>
  <% else %>
    <b>Direct Reports:</b>
    <ul>
      <% @user.employees.each do |employee| %>
        <li><%= link_to employee.full_name, user_url(employee.id) %></li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to "Edit this user", edit_user_url(@user.id), class: "btn btn-success" %>
  <br>
  <%= link_to "Delete this user", user_url(@user.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
  <br>
  <%= link_to "Back to all users", root_url, class: "btn btn-primary" %>

</div>
